<ul>
  <h2><%= @apartment.building.name %></h2><br>

  Apartment:
  <%= @apartment.apt_num %><br>
  Size:
  <%= @apartment.size %>
  square feet<br>
  Number of rooms:
  <%= @apartment.num_rooms %><br>
  Number of windows:
  <%= @apartment.num_windows %><br><br>

    <% if current_user && current_user.admin %>
      <h4><%= link_to 'update '+ @apartment.apt_num , edit_apartment_path(@apartment)%><br>
        <%= link_to 'delete '+ @apartment.apt_num , apartment_path(@apartment), method: :delete, data: { confirm: 'are u sure?' } %><br>
        <%= link_to 'sign out', destroy_user_session_path, method: :delete %><br></h4>
    
  <%else%>
    If you would like to schedule a viewing<br>please email@xyz.com or phone 212-555-5555.<br><br>
    <h4><%= link_to 'more apartments available at ' + @apartment.building.name, @apartment.building%><br>
      <%= link_to "looking for an apt that's not listed?", "https://lmgtfy.com/?q=nyc+apt+rentals"%><br></h4>
  <%end%>
  <div class='back_button_bldg'>
    <%= link_to 'back to buildings', buildings_path(@buildings)%><br>
  </div>
</ul>
